@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "HIROMISAKE";
  src: url("./fonts/HIROMISAKE.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f3ede1;
  color: #333f72;
}

a {
  text-decoration: none;
  color: #333f72;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
.main-button,
.navbar-logo {
  font-family: "HIROMISAKE", sans-serif;
}

h1 {
  font-size: 4.5rem;
  line-height: 96px;
  letter-spacing: 4px;
  text-align: center;
  max-width: 900px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
}

.app {
  display: flex;
  min-height: 100vh;
}

.container {
  min-width: 375px;
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* ************************ Loader Component Styles ************************* */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e9dac6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  z-index: 10000;
}

.loader-text {
  letter-spacing: 1px;
  border: 8px solid #333f72;
  padding: 6rem;
  margin: 1.5rem;
  animation: fade 3s alternate;
  background-image: url("../public/bg-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 2s ease;
}

.loader-text.loaded {
  opacity: 1;
}

/* ************************ IntersectionObserver Component Styles ************************* */
.intersectionObserver {
  opacity: 0;
  transition: opacity 1s ease;
}

.intersectionObserver.visible {
  opacity: 1;
}

/* ************************ Navbar Component Styles ************************* */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  border-bottom: 1px solid #e9dac6;
  position: relative;
  z-index: 100;
  background-color: #f3ede1;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navbar-link {
  font-size: 1.25rem;
  position: relative;
  transition: 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #e56e0c;
}

.navbar-link::after,
.menu-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e56e0c;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navbar-link:hover::after,
.menu-link:hover::after {
  opacity: 1;
}

.hamburger-icon {
  display: none;
}

.hamburger-menu {
  display: none;
}

/* ************************ Hero Component Styles ************************* */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  margin: 3rem auto;
  background-image: url("../public/bg-svg-2.svg"), url("../public/bg-svg.svg");
  background-position: top left, right, bottom center;
  background-repeat: no-repeat;
  background-size: 400px, 400px;
}

.hero-paragraph {
  max-width: 600px;
  margin: 0 auto;
}

.main-button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 24px 0 24px 0;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid #e56e0c;
  transition: all 0.3s ease-in-out;
}

.hero-image {
  width: 100%;
  max-width: 620px;
  height: auto;
}

/* ************************ MenuSection Component Styles ************************* */

.menu-section {
  padding-top: 0.5rem;
  background-image: url("../public/contact-bg-3.svg");
  background-position: 15% center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.menu-title {
  background-image: url("../public/bg-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  padding: 2.8rem;
}

.menu-paragraph {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

/* ************************ Specialites Component Styles ************************* */

.specialities-section,
.reviews-section,
.menu-content {
  text-align: center;
  max-width: 1280px;
  margin: 4rem auto 6rem;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding-bottom: 1rem;
  gap: 2rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc #eee;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid #333f72;
  border-radius: 48px 0;
  padding: 1.5rem;
}

.card-image {
  width: 230px;
}

.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
  background-color: rgba(51, 63, 114, 0.4);
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(51, 63, 114, 0.6);
}

/* ************************ Reviews Component Styles ************************* */

.reviews-section {
  margin-top: 3rem;
}

.review-card {
  background-color: #333f72;
  color: #f3ede1;
  text-align: left;
}

.review-quote {
  color: #e56e0c;
  font-size: 2.5rem;
}

.review-name {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.review-paragraph {
  width: 300px;
}

/* ************************ Footer Component Styles ************************* */

.footer {
  background-color: #f3ede1;
  padding: 2rem 3rem;
  color: #333f72;
  border-top: 1px solid #e9dac6;
  position: relative;
}

.footer-content {
  max-width: 1280px;
  margin: 1rem auto;
}

.footer-logo-container {
  margin-bottom: 2rem;
}

.footer-logo {
  font-family: "HIROMISAKE", sans-serif;
  font-size: 1.5rem;
}

.footer-paragraph {
  max-width: 350px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 2rem;
}

.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border-bottom-width: 6px;
  border-bottom-color: #e56e0c;
  border-bottom-style: double;
  width: 150px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: none;
}

.footer-link {
  color: #333f72;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-contact-info,
.footer-program-info {
  margin: 0;
}

/* ************************ CopyRights Component Styles ************************* */

.footer-copy-rights {
  text-align: center;
  background-color: #333f72;
  color: #f3ede1;
  width: 100%;
  padding: 1rem;
  font-size: 14px;
}

/* ************************ Media query for mobile screen sizes ************************* */
@media screen and (max-width: 900px) {
  /* Navbar */

  nav {
    padding: 1.5rem 3rem;
  }

  .navbar-links-list {
    display: none;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333f72;
    margin: 3px auto;
    transition: transform 0.3s ease-in-out;
  }

  .bar.open {
    transform: translateY(9px) rotate(45deg);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    background-color: #e56e0c;
    padding: 20px;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
    text-align: center;
  }

  .hamburger-menu.open {
    transform: translateY(0%);
  }

  .menu-link {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 18px;
    color: #f3ede1;
    text-decoration: none;
    position: relative;
  }

  .menu-link::after {
    background-color: #f3ede1;
    bottom: -6px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
  }

  /* Hero section  */
  .hero-section {
    padding: 0 1.5rem;
    background-size: 300px, 300px;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .hero-image {
    max-width: 420px;
  }

  /* Speciaities Section */

  h2 {
    font-size: 2.5rem;
    padding-inline: 1.5rem;
  }

  .cards-container {
    padding-inline: 1rem;
  }

  /* Footer */

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 1.5rem 1.5rem;
  }

  /* Hero section  */
  .hero-section {
    background-size: 250px, 250px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }
}

/* Menu Section */

.menu-paragraph {
  padding-inline: 1rem;
}

@media screen and (max-width: 450px) {
  /* Hero section  */
  .hero-section {
    background-size: 210px, 210px;
  }
}
